{% extends "base.html" %}

{% block title %} Login Page {% endblock %}


{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}


    {% if user.is_authenticated %}

        <h1> Are you drunk? </h1>
        </hr>
        <a href="{% url 'welcome' %}">
            <button class="btn btn-success"> Go Home</button>
        </a>

    {% else %}

        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <hr/>
            <h2 class="title text-center"> Who are you? </h2>
            <hr/>
            <div class="account-wall">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}


                    <div class="form-group">
                        {{ form.username.label_tag }}
                        <input autofocus="" id="id_username" maxlength="254" name="username" class="form-control"
                               type="text" required/>
                    </div>

                    <div class="form-group">
                        {{ form.password.label_tag }}
                        <input id="id_password" name="password" class="form-control" type="password" required/>
                    </div>


                    <input class="btn btn-md btn-success btn-block" type="submit" value="Login"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
                <p><a href="{% url 'password_reset_form' %}">Lost password?</a></p>
            </div>
        </div>

    {% endif %}
    {# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}