{% extends "base.html" %}


{% block title %}{{ title }}{% endblock %}

{% block content %}

    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one. </p>

    <form method="post" class="form-inline">{% csrf_token %}
        {{ form.email.errors }}
        <p><label for="id_email"> Email address </label>
            <input id="id_email" class="form-control btn btn-default" maxlength="254" name="email" type="email"
                   required/>
            <input class="form-control" type="submit" value="Reset my password"/></p>
    </form>

{% endblock %}
