<div class="row">


    <button class="btn btn-xs" data-toggle="collapse" data-target="#custom_query">
        <i class="glyphicon glyphicon-text-size"></i> Custom Query
    </button>


    <div id="custom_query" class="collapse well">
        <br>
        <form action="{% url 'details' %}" method="post">
            {% csrf_token %}

            <div class="row">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="select"> Columns </label>
                        </div>
                        <div class="col-md-10">
                            <input id="select"
                                   name="select"
                                   value="SELECT *"
                                   class="form-control"
                                   type="text"/>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <label for="target"> Target </label>
                        </div>
                        <div class="col-md-10">
                            Customer : <input id="target" name="customer" class="form-control" type="text"
                                              value="[[ customer ]]"
                                              readonly="readonly"/>
                            Bucket : <input class="form-control" type="text" value="[[ bucket ]]"
                                            disabled/>
                            File : <input class="form-control" type="text" value="[[ object ]]"
                                          readonly="readonly"/>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="conds"> Conditions </label>
                        </div>
                        <div class="col-md-10">
                            <textarea id="conds" name="conds" class="form-control">WHERE </textarea>

                        </div>

                    </div>

                    <button type="submit" name="custom_submit" class="btn btn-warning btn-md pull-right">
                        Submit
                    </button>
                </div>
            </div>

        </form>

    </div>


    <form ng-submit="query()">
        {% csrf_token %}


        {#  ---------------------------------- Start Modal ----------------------------------  #}

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">

                        You are about to query [[ object ]] in
                        <span class="label label-warning"> [[ bucket ]] </span>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <input class="btn btn-xs btn-danger" type="submit" value="Submit"/>
                    </div>
                </div>

            </div>
        </div>

        {#  ---------------------------------- End Modal ----------------------------------  #}


        <!-- columns -->
        <div class="col-md-5">
            <div class="control-group">
                <div class="controls">
                    <h3 class="help-block"> Which columns would you like to select? </h3>
                    <hr>

                    <input type="radio" value="xtra"/>
                    Extra operations :

                    <select disabled class="form-control">
                        <option value="MAX" selected> MAX</option>
                        <option value="MIN"> MIN</option>
                        <option value="SUM"> SUM</option>
                        <option value="AVG"> AVG</option>
                    </select>
                    <select disabled
                            class="form-control">

                        <option ng-repeat="champ in headers" ng-if="champ.html_type == 'number' "
                                value="[[ champ.attribute ]]">
                            [[ champ.attribute ]]
                        </option>

                    </select>


                    <hr>
                    <!-- select All button -->
                    <input type="radio" checked/> Columns :
                    <br>
                    <button class="btn btn-info btn-xs" type="button" ng-click="checkAll()">
                        Check all
                    </button>

                    <button class="btn btn-info btn-xs" type="button" ng-click="uncheckAll()">
                        Uncheck all
                    </button>


                    <!-- checkbox -->
                    <div class="input">
                        <div class="btn-group">


                            <div ng-repeat="champ in headers">
                                <label class="btn btn-toggle" for="[[ champ.attribute ]]">
                                    <input type="checkbox"
                                           id="[[ champ.attribute ]]"
                                           checklist-value="champ.attribute"
                                           checklist-model="user.headers"
                                           value="[[ champ.attribute ]]"> [[ champ.attribute ]]
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- conditions -->

        <div class="col-md-7">
            <h3 class="help-block"> Would you like to submit some conditions? </h3>


            <div class="alert alert-info"> Using "LIKE" && "NOT LIKE" with text input
                <ul>
                    <li> % &emsp; The percent sign represents zero, one, or multiple characters</li>
                    <li> _ &emsp; The underscore represents a single character</li>
                </ul>
            </div>
            <hr>

            <div ng-repeat="cond in conds  track by $index" class="form-group">

                <div class="row">

                    <div class="col-md-4">
                        <label for="columns"> Select a column </label>
                        <select id="columns"
                                ng-model="cond.selected_column"
                                ng-options="champ.attribute for champ in headers track by champ.attribute"
                                class="form-control" required>
                        </select>

                    </div>

                    <div class="col-md-2">
                        <label for="types"> Type </label>
                        <select id="types"
                                ng-model="cond.operator"
                                ng-options="type for type in getOptions(cond.selected_column.html_type)"
                                class="form-control" required>
                        </select>
                    </div>


                    <div class="col-md-5">
                        <label for="inputs"> Type your input </label>
                        <input id="inputs"
                               ng-model="cond.input"
                               type="[[ cond.selected_column.html_type ]]"
                               class="form-control" required
                               placeholder="[[ cond.selected_column.type ]]"/>
                    </div>
                    <div class="col-md-1">
                        <label for="delete"> Delete </label>
                        <button class="btn-warning btn-xs"
                                id="delete"
                                type="button"
                                ng-click="deleteCondition($index)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </div>
                </div>
            </div>

            <button class="btn btn-xs btn-success" type="button" ng-click="addCondition()">
                Add a condition
            </button>


            <button type="button"
                    class="btn btn-danger btn-xs"
                    data-toggle="modal"
                    data-target="#myModal">
                Submit
            </button>


        </div>
    </form>
</div>