<div class="row">
    <flash-message></flash-message>
</div>

<div ng-show='arrived' class="row">
    <div class="input-group col-md-offset-6">


        <input type="text"
               ng-model="regex"
               name="search_text"
               class="form-control"
               required
               placeholder="Search">
        <div class="input-group-btn">
            <button class="btn btn-default"
                    ng-click="search()"
                    type="submit">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
    <div class="col-md-offset-6">
        <div class="label label-info">
            You may search through all the bucket for a specific file
            (Regular Expressions are accepted)
        </div>
    </div>

    <hr>


    <div class="list-group">

        <a ng-show="front" class="list-group-item">
            <button class="btn btn-md btn-primary"
                    ng-click="navigate()"
                    type="button">
                <i class="fa fa-arrow-circle-left fa-1x" aria-hidden="true"></i>
            </button>
            <span class="badge"> [[ prefix ]] </span>
        </a>


        <a ng-repeat="PRE in folders" class="list-group-item">
            <input ng-click="navigate($event)"
                   class="btn btn-md btn-info"
                   name="prefix"
                   type="submit"
                   value="[[ PRE ]]"/>
        </a>


        <a ng-repeat="object in objects" class="list-group-item">

            <button type="button" ng-click="getSize($event)" value="[[object]]"
                    class="btn btn-xs btn-info">
                <i class="glyphicon glyphicon-info-sign"></i>
            </button>

            <button type="button" ng-click="download($event)" value="[[object]]"
                    class="btn btn-xs btn-default ">
                <i class="glyphicon glyphicon-download"> </i>
            </button>


            <input ng-click="configGet($event)"
                   type="submit" value="[[object]]"
                   class="btn btn-md btn-default"/>

            <span class="badge"> File </span>
        </a>

    </div>
</div>
