{% extends "wizard/base.html" %}

{% block title %} Database {% endblock %}

{% block wizard_content %}

    <div ng-controller="databaseController">

        <div class="row">
            <flash-message></flash-message>
        </div>

        <div class="row">

            <div class="col-md-6">
                <label for="select_customer"
                       class="form-control-label">
                    Choose a customer </label>
                <select id="select_customer"
                        class="form-control"
                        ng-model="fetched_customer"
                        ng-options="customer.label for customer in customers"
                        required>
                </select>
            </div>
            <div class="col-md-6">
                <label for="fetch_btn"> Configuration for [[fetched_customer.label]]</label>
            </div>
            <div class="col-md-2">
                <button id="fetch_btn"
                        class="btn btn-md btn-success form-control"
                        ng-click="getConfig()">
                    Fetch
                </button>
            </div>


        </div>
        <div class="row">

            {# ---------- Trigger the modal for creating table -------------------------  #}
            <button type="button"
                    class="btn btn-xs btn-primary pull-right"
                    data-toggle="modal"
                    data-target="#addModal">
                <i class="glyphicon glyphicon-plus-sign"> Add Configuration </i>
            </button>

        </div>
        {#  ----------------------------------Create table Modal --------------------------- #}
        <div id="addModal" class="modal fade" role="dialog">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                    <form ng-submit="addConfig()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add new configuration file</h4>
                        </div>
                        <div class="modal-body container-fluid">
                            {# -------------------------- Add Table Form -------------- #}
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label for="config_attr" class="form-control-label">
                                                    Attribute </label>
                                                <input id="config_attr"
                                                       class="form-control"
                                                       ng-model="config_attr"
                                                       type="text" required/>
                                            </div>

                                            <div class="col-md-5">
                                                <label for="config_type" class="form-control-label">
                                                    Type </label>
                                                <select id="config_type"
                                                        ng-model="config_type"
                                                        ng-options="type for type in common_types"
                                                        class="form-control"
                                                        required>
                                                </select>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="input-group" ng-repeat="row in configuration">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label for="config_attr" class="form-control-label">
                                                    Attribute </label>
                                                <input id="config_attr"
                                                       class="form-control"
                                                       ng-model="row.attr"
                                                       type="text" required/>
                                            </div>

                                            <div class="col-md-5">
                                                <label for="config_type"
                                                       class="form-control-label">
                                                    Type </label>
                                                <select id="config_type"
                                                        ng-model="row.type"
                                                        class="form-control"
                                                        ng-options="type for type in common_types"
                                                        required>
                                                </select>
                                            </div>

                                            <div class="col-md-1">
                                                <label for="del" class="form-control-label">
                                                </label>
                                                <button class="btn btn-warning btn-xs"
                                                        type="button"
                                                        ng-click="deleteRow($index)">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 well">
                                    <div class="form-group">
                                        <label for="config_name"
                                               class="form-control-label">
                                            Name </label>
                                        <input id="config_name"
                                               ng-model="config_name"
                                               class="form-control"
                                               type="text"
                                               required/>
                                    </div>

                                    <div class="form-group">
                                        <label for="select_customer"
                                               class="form-control-label">
                                            Customer </label>
                                        <select id="select_customer"
                                                class="form-control"
                                                ng-model="selected_customer"
                                                ng-options="customer.label for customer in customers"
                                                required>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {# -------------------------- End Add Table Form -------------- #}

                        </div>
                        <div class="modal-footer">

                            <a class="btn btn-xs btn-link pull-left"
                               ng-click="addRow()">
                                <i class="glyphicon glyphicon-plus">Add a row</i></a>


                            <button type="submit"
                                    class="btn btn-xs btn-success pull-right">
                                Create Configuration File
                            </button>
                            <button type="button"
                                    class="btn btn-xs btn-default"
                                    data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {# ----------------------------------End Creation Modal ---------------------------------- #}

        <div ng-show="showGrid" class="row">
            <div ag-grid="gridOptions" id="gridDB" class="col-md-8-offset ag-fresh"></div>
        </div>


    </div>

{% endblock %}