{% extends "wizard/wizard.html" %}

{% block title %} Metadata {% endblock %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'welcome' %}"><i class="fa fa-home"></i></a></li>
        <li><a href="{% url 'index' %}">Customers</a></li>
        <li><a href="{% url 'metadata' %}"> Metadata </a></li>
       {% if request.user.is_active and request.user.is_staff %}
        <li><a href="{% url 'wizard'  %}"> Wizard </a></li>
    {% endif %}
    </ul>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">

            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}"> <i class="glyphicon glyphicon-log-out">
                    Logout </i> </a>
                </li>
                <li class="dropdown" id="profile-dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href>
                        <i class="glyphicon glyphicon-user"> {{ user.username }} </i>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="dropdown-elt">
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'password_change' %}"> Change password</a></li>
                    </ul>

                </li>


            {% else %}

                <li><a href="{% url 'login' %}"> <i class="glyphicon glyphicon-log-in">
                    Login </i></a></li>
                <li><a href="{% url 'register' %}"> <i class="glyphicon glyphicon-floppy-disk">
                    Register </i></a></li>
            {% endif %}
        </ul>

    </div>

{% endblock %}


{% block wizard_content %}

    <div ng-controller="metadataController">

        <div class="row">
            <flash-message></flash-message>
        </div>

        <div class="row">

            <div class="col-md-6">
                <label for="select_customer"
                       class="form-control-label">
                    Choose a customer </label>
                <select id="select_customer"
                        class="form-control"
                        ng-model="fetched_customer"
                        ng-options="customer.label for customer in customers"
                        required>
                </select>
            </div>
            <div class="col-md-6">
                <label for="fetch_btn"> Configuration for [[fetched_customer.label]]</label>
            </div>
            <div class="col-md-2">
                <button id="fetch_btn"
                        class="btn btn-md btn-success form-control"
                        ng-click="get_local_config()">
                    Fetch
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            {# ---------- Trigger the modal for adding FDV fields -------------------------  #}
            <div class="dropdown">
                <button class="btn btn-xs btn-warning pull-right dropdown-toggle"
                        type="button"
                        data-toggle="dropdown">
                    <i class="glyphicon glyphicon-edit"> Edit FDV fields </i>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-repeat="object in rowData"
                        ng-click="select_object($event)">
                        <a href data-toggle="modal" data-target="#FDVModal">[[object.group]]</a>
                    </li>
                </ul>
            </div>

            {% if request.user.is_active and request.user.is_staff %}

                {# ---------- Trigger the modal for delete config-------------------------  #}
                <div class="dropdown">
                    <button class="btn btn-xs btn-danger pull-right dropdown-toggle"
                            type="button"
                            data-toggle="dropdown">
                        <i class="glyphicon glyphicon-minus-sign"> Delete configuration </i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-repeat="object in rowData" class="label-danger"
                            ng-click="select_object($event, $index)">
                            <a href data-toggle="modal" data-target="#deleteModal">[[object.group]]</a>
                        </li>
                    </ul>
                </div>
                {# ---------- Trigger the modal for adding configuration -------------------------  #}
                <button type="button"
                        class="btn btn-xs btn-primary pull-right"
                        data-toggle="modal"
                        data-target="#addModal">
                    <i class="glyphicon glyphicon-plus-sign"> Add Configuration </i>
                </button>
            {% endif %}


        </div>

        {% if request.user.is_active and request.user.is_staff %}
            {#  ----------------------------------Create table Modal --------------------------- #}
            <div id="addModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form ng-submit="addConfig()">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add new configuration file</h4>
                            </div>
                            <div class="modal-body container-fluid">
                                {# -------------------------- Add Table Form -------------- #}
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <label for="config_attr" class="form-control-label">
                                                        Attribute </label>
                                                    <input id="config_attr"
                                                           class="form-control"
                                                           ng-model="config_attr"
                                                           type="text" required/>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="config_type" class="form-control-label">
                                                        Type </label>
                                                    <select id="config_type"
                                                            ng-model="config_type"
                                                            ng-options="type for type in common_types"
                                                            class="form-control"
                                                            required>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group" ng-repeat="row in configuration">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <label for="config_attr" class="form-control-label">
                                                        Attribute </label>
                                                    <input id="config_attr"
                                                           class="form-control"
                                                           ng-model="row.attr"
                                                           type="text" required/>
                                                </div>

                                                <div class="col-md-4">
                                                    <label for="config_type"
                                                           class="form-control-label">
                                                        Type </label>
                                                    <select id="config_type"
                                                            ng-model="row.type"
                                                            class="form-control"
                                                            ng-options="type for type in common_types"
                                                            required>
                                                    </select>
                                                </div>

                                                <div class="col-md-1">
                                                    <label for="del" class="form-control-label">
                                                    </label>
                                                    <button class="btn btn-warning btn-xs"
                                                            type="button"
                                                            ng-click="deleteRow($index)">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 well">
                                        <div class="form-group">
                                            <label for="config_name"
                                                   class="form-control-label">
                                                Name </label>
                                            <input id="config_name"
                                                   ng-model="config_name"
                                                   class="form-control"
                                                   type="text"
                                                   required/>
                                        </div>

                                        <div class="form-group">
                                            <label for="select_customer"
                                                   class="form-control-label">
                                                Customer </label>
                                            <select id="select_customer"
                                                    class="form-control"
                                                    ng-model="selected_customer"
                                                    ng-options="customer.label for customer in customers"
                                                    required>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {# -------------------------- End Add Table Form -------------- #}

                            </div>
                            <div class="modal-footer">

                                <a class="btn btn-xs btn-link pull-left"
                                   ng-click="addRow()">
                                    <i class="glyphicon glyphicon-plus"> Add a row </i></a>


                                <button type="submit"
                                        class="btn btn-xs btn-success pull-right">
                                    Create Configuration File
                                </button>
                                <button type="button"
                                        class="btn btn-xs btn-default"
                                        data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {# ----------------------------------End Creation Modal ---------------------------------- #}

            {#  ----------------------------------start Delete Modal --------------------------- #}
            <div id="deleteModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <form ng-submit="deleteConfig()">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"> Delete Configuration </h4>
                            </div>
                            <div class="modal-body container-fluid">
                                Object : <b>[[selected_object.label]]</b>
                                <br>
                                Client :
                                <b> [[fetched_customer.label]]</b>
                            </div>
                            <div class="modal-footer">
                                <button type="submit"
                                        class="btn btn-xs btn-danger pull-right">
                                    Delete
                                </button>

                                <button type="button"
                                        class="btn btn-xs btn-default"
                                        data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {# ----------------------------------End delete config Modal ---------------------------------- #}

        {% endif %}


        {#  ----------------------------------FDV Modal --------------------------- #}
        <div id="FDVModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form ng-submit="saveFDV()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add, Edit and Delete FDV fields</h4>
                        </div>
                        <div class="modal-body container-fluid">
                            <div class="row">
                                <div class="col-md-4-offset well">
                                    <i class="glyphicon glyphicon-th-list"></i>
                                    Object <b>[[selected_object.label]]</b> for client
                                    <b> [[fetched_customer.label]]</b>
                                </div>
                            </div>


                            <div class="row" ng-repeat="field in fieldsFDV">
                                <div class="col-md-1">
                                    <label for="FDVdel" class="form-control-label">
                                    </label>
                                    <button class="btn btn-warning btn-xs"
                                            type="button"
                                            ng-click="deleteFDVRow($index)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <label for="FDVvalue"
                                           class="form-control-label">
                                        Value </label>
                                    <select id="FDVvalue"
                                            class="form-control"
                                            ng-model="field.value"
                                            ng-options="head for head in temp_headers"
                                            required>
                                    </select>
                                </div>

                                <div class="col-md-7">
                                    <label for="FDVkeys"
                                           class="form-control-label">
                                        Keys </label>
                                    <a href ng-click="addHeader($index)">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </a>
                                    <div class="row" ng-repeat="key in field.keys track by $index">
                                        <div class="col-md-11">
                                            <select id="FDVkeys"
                                                    class="form-control"
                                                    ng-model="key.name"
                                                    ng-options="head for head in temp_headers"
                                                    required>
                                            </select>
                                        </div>

                                        <div class="col-md-1">
                                            <a href ng-click="delHeader($parent.$index, $index)">
                                                <i class="glyphicon glyphicon-minus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">

                            <a class="btn btn-xs btn-link pull-left"
                               ng-click="addFDVRow()">
                                <i class="glyphicon glyphicon-plus"> Add a constraint </i></a>


                            <button type="submit"
                                    class="btn btn-xs btn-success pull-right">
                                Save
                            </button>
                            <button type="button"
                                    class="btn btn-xs btn-default"
                                    data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {# ----------------------------------End FDV Modal ---------------------------------- #}


        <br>
        <div ng-show="showGrid" class="row">
            <div ag-grid="gridOptions" id="gridDB" class="col-md-8-offset ag-blue"></div>
        </div>

    </div>

{% endblock %}